* {
    padding: 0px;
}

body {
background-color: rgb(41, 41, 41);
margin: 0px;
padding: 0px;
color: whitesmoke;
}


#bar {
    display: inline-flex;
    margin-left: 1rem;
}

#bar ul {
    margin-left: 1rem;
    column-count: 2;
    column-gap: 34px;
}

#bar li {
    list-style-type: none;
}

#bar a {
    background-color: #9836f4;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 0.2rem;
    padding: 10px;
    width:100%;
    display:block;
    
}

#bar a:hover {
    background-color: rgb(98, 0, 255);
    border: whitesmoke;
    border-radius: 5px;
}

.gallery {
    margin: 5px;
    float: left;
    width: 100px;
    
}

.gallery img {
    width: 100%;
    height: auto;
}
