body {
background-color: #777;
margin: 0px;
padding: 0px;
}

#bar {
    display: inline-flex;
    margin-left: 1rem;
}

#bar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position:unset;
}

.gallery {
    margin: 5px;
    float: left;
    width: 100px;
    
}

.gallery img {
    width: 100%;
    height: auto;
}